@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 38px;
  line-height: 36px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto;
}
.nice-select:hover {
  border-color: #dbdbdb;
}
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}
.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: "";
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}
.nice-select.open:after {
  transform: rotate(-135deg);
}
.nice-select.open .nice-select-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled:after {
  border-color: #cccccc;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .nice-select-dropdown {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .nice-select-dropdown {
  left: auto;
  right: 0;
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.nice-select.small:after {
  height: 4px;
  width: 4px;
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
.nice-select .nice-select-dropdown {
  margin-top: 4px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(19px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
  opacity: 0;
}
.nice-select .list {
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  max-height: 210px;
  overflow-y: auto;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}
.nice-select .optgroup {
  font-weight: bold;
}

.no-csspointerevents .nice-select .nice-select-dropdown {
  display: none;
}
.no-csspointerevents .nice-select.open .nice-select-dropdown {
  display: block;
}

.nice-select .list::-webkit-scrollbar {
  width: 0;
}

.nice-select .has-multiple {
  white-space: inherit;
  height: auto;
  padding: 7px 12px;
  min-height: 36px;
  line-height: 22px;
}
.nice-select .has-multiple span.current {
  border: 1px solid #CCC;
  background: #EEE;
  padding: 0 10px;
  border-radius: 3px;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 3px;
  margin-right: 3px;
}
.nice-select .has-multiple .multiple-options {
  display: block;
  line-height: 24px;
  padding: 0;
}
.nice-select .nice-select-search-box {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  pointer-events: none;
  border-radius: 5px 5px 0 0;
}
.nice-select .nice-select-search {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 12px;
  margin: 0 10px 0 0;
  width: 100%;
  min-height: 36px;
  line-height: 22px;
  height: auto;
  outline: 0 !important;
  font-size: 14px;
}

html {
  overflow: auto;
  font-size: 16px;
}

:root {
  --primary-font-face: "Inter", sans-serif;
  --primary-header-bg: black;
  --primary-bg: #08001E;
  --secondary-bg:#08001E;
  --form-bg: #0b0029;
  --form-outline: 4px solid #00E7FF;
  --form-subCard-bg: transparent;
  --primary-font: #FFFFFF;
  --primary-box-shadow: 0 15px 30px black;
  --hands-box-shadow: 0 0px 15px black,
  0 0 30px black;
  --primary-glow-box-shadow: 0 0px 15px #00E7FF,
  inset 0 0 15px #00E7FF;
  --clock-box-shadow: 0 0 60px black,
  0 0 60px black,
  inset 0 0 60px black,
  inset 0 0 60px black;
  transform-style: preserve-3d;
  --inner-box-shadow:inset 50px 35px 10px black,
  inset 50px 35px 15px black,
  inset -25px 35px 29px black,
  inset 25px -20px 20px black,
  inset 0px -10px 25px black;
  --form-inner-box-shadow: 0 0 20px black, 0 0 55px black,0 0 40px black, inset 25px 25px 40px black, inset 25px 25px 40px black, inset -15px -10px 40px black;
  --glow-digi-box-shadow:0 0 25px var(--primary-outline),
  0 0 25px var(--primary-outline), inset 0 0 20px var(--secondary-outline);
  --primary-text-shadow: 0 0 30px #00e5ff8a,
   -20px 0 40px #00E7FF;
  --clock-text-shadow: 7px 7px 16px #00E7FF,
   7px 7px 35px #00E7FF,
  0px 0px 30px #00E7FF,
   0px 0px 30px #00E7FF;
  --secondary-font: #00E7FF;
  --primary-outline: #00E7FF;
  --secondary-outline: #00E7FF;
  --tertiary-outline: #00E7FF;
  --toggle-bg: #C5FAFF;
  --timeZone-card: #0B0029;
  --timeZone-Subcard: #0B0029;
  --analog-color: #110338;
  --analog-bg:#110338;
  --digital-bg: #00E7FF;
  --digital-color: #110338;
  --analog-font: #00E7FF;
  --analog-font-weight:300;
  --current-zone-font-Weight:500;
}

body.lightMode {
  --primary-font-face: "Inter", sans-serif;
  --primary-header-bg: black;
  --primary-bg: #F2EDFF;
  --secondary-bg:#FFFFFF;
  --form-bg: #F2EDFF;
  --form-outline: 4px solid #0B0029;
  --form-subCard-bg: #DED2FF;
  --analog-color: #FCFBFF;
  --primary-font: #0B0029;
  --primary-box-shadow: 0;
  --hands-box-shadow: 0;
  --primary-glow-box-shadow: 0;
  --clock-box-shadow: 0;
  transform-style: preserve-3d;
  --inner-box-shadow:0;
  --form-inner-box-shadow:0;
  --glow-digi-box-shadow:0;
  --primary-text-shadow: 0;
  --clock-text-shadow: 0;
  --secondary-font: #F4F0FF;
  --primary-outline: #0B0029;
  --secondary-outline: #0B0029;
  --tertiary-outline: #F4F0FF;
  --toggle-bg: #FFFFFF;
  --timeZone-card: #F2EDFF;
  --timeZone-Subcard: #DED2FF;
  --analog-bg:#0B0029;
  --analog-font: #110338;
  --digital-bg: white;
  --digital-color: #0B0029;
  --analog-font-weight:500;
  --current-zone-font-Weight:600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggle {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 19px;
  width: 47px;
  z-index: 1;
  display: inline-block;
  background-color: var(--toggle-bg);
  border-radius: 30px;
  border: 2px solid gray;
}

.toggle:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--primary-header-bg);
  outline: 2px solid var(--secondary-font);
  top: -2px;
  left: -2px;
  transition: all 0.5s;
}

.checkbox:checked + .toggle::after {
  left: 26px;
}

.checkbox:checked + .toggle {
  background-color: var(--toggle-bg);
}

.checkbox {
  display: none;
}

body {
  display: grid;
  grid-template-areas: "header header header" "main main main";
  min-height: 100vh;
  overflow: auto;
  background: var(--primary-bg);
  grid-template-rows: 10vh 90vh;
  color: var(--primary-font);
  font-family: var(--primary-font-face);
}

.mouseDecoration {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 50px;
  height: 50px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  transform: translate(-45%, -35%);
  pointer-events: none;
  border: 2px solid var(--primary-outline);
  transition: 0.4s all;
  box-shadow: 0 0 20px var(--secondary-outline), inset 0 0 20px var(--secondary-outline);
  mix-blend-mode: difference;
}

.lightMode .mouseDecoration {
  background-color: rgba(222, 210, 255, 0.4196078431);
  outline: 1px solid var(--primary-outline);
  box-shadow: unset;
  mix-blend-mode: normal;
}

.lightMode .layer {
  display: none;
}

.hover-effect {
  width: 140px;
  height: 140px;
  background-color: transparent;
  border: 2px solid var(--primary-outline);
  transform: translate(-45%, -45%);
}

.lightMode .hover-effect {
  box-shadow: unset;
}

.lightMode .light {
  display: none;
}

.lightMode main {
  background-image: none;
}

main {
  grid-area: main;
  background-color: var(--primary-bg);
  background-image: linear-gradient(to right, rgb(0, 229, 255) 1px, transparent 1px), linear-gradient(to bottom, rgb(0, 229, 255) 1px, transparent 1px);
  background-size: 40px 40px;
  position: relative;
  min-height: 600px;
  overflow: hidden;
  z-index: 1;
}
main .light {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0, 0, 0, 0.7) 20%);
}
main .layer {
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

body:hover .layer {
  display: none;
}

.container {
  margin: auto;
  width: 80%;
  height: 100%;
}

a {
  color: var(--primary-font);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  grid-area: header;
  background-color: #000000;
  border-bottom: 2px solid var(--secondary-outline);
  box-shadow: var(--primary-box-shadow);
  font-family: "Inter";
  color: var(--secondary-font);
  z-index: 3;
}

#main_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0rem;
  max-width: 1400px;
  border: 0;
}

.darkMode {
  background: var(--primary-header-bg);
  width: 11em;
  height: 36px;
  outline: 2px solid var(--tertiary-outline);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0rem;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
}

.toggleDark {
  position: relative;
  top: 3px;
}
.toggleDark:hover {
  cursor: pointer;
}

#switch:hover,
.toggle:hover {
  cursor: pointer;
}

.main_heading {
  font-size: 1.8em;
  font-weight: 600;
  text-shadow: var(--primary-text-shadow);
}

.loading {
  background-image: linear-gradient(90deg, rgba(17, 3, 56, 0.4392156863), rgba(255, 255, 255, 0.575), rgba(255, 255, 255, 0.637), rgba(17, 3, 56, 0.4235294118));
  background-size: 200% 100%;
  background-position: right;
  border-radius: 5px;
  /* width: 150px; */
  position: relative;
  height: 100%;
  transform: translateZ(10px);
  animation: sweep 2s linear infinite;
  box-shadow: 0 0 6px 0 rgba(163, 163, 163, 0.1921568627);
}

#clock .loading:nth-child(1) {
  width: 350px;
  height: 465px;
}

#clock .loading:nth-child(2) {
  width: 340px;
  height: auto;
  min-height: 40px;
}

#ampm {
  font-size: 1rem;
}

.timeZone_heading.loading {
  width: 230px;
  height: auto;
  min-height: 40px;
}

.choose_timeZon.loading {
  width: 300px;
  height: auto;
  min-height: 40px;
}

.display_timeZones .loading {
  width: 100%;
  height: 85px;
}

@keyframes sweep {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
#main_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0rem;
  z-index: 3;
  max-height: 800px;
  max-width: 1600px;
}

#clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 350px;
}

.clock_display {
  outline: 1px solid var(--primary-outline);
  border-radius: 190px 190px 0 0;
  -webkit-border-radius: 190px 190px 0 0;
  -webkit-border-radius: 190px 190px 0 0;
  -moz-border-radius: 190px 190px 0 0;
  -ms-border-radius: 190px 190px 0 0;
  -o-border-radius: 190px 190px 0 0;
  width: 350px;
  height: 465px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  margin: auto;
  box-shadow: var(--clock-box-shadow);
  transform: perspective(1000px);
  transform-style: preserve-3d;
  background: var(--analog-bg);
}

.analog_clock {
  transform: translateZ(60px);
}

.digital_clock {
  background: var(--digital-bg);
  border-radius: 10px;
  padding: 10px;
  width: 65%;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin-bottom: 55px;
  box-shadow: var(--glow-digi-box-shadow);
  z-index: 3;
  transform: translateZ(150px);
}

.digi_container {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--digital-color);
}

.outer_circle {
  width: 320px;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  outline: 1px solid var(--primary-outline);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--hands-box-shadow);
  background-color: var(--primary-bg);
  position: relative;
  z-index: 2;
}

.inner_circle {
  width: 295px;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 3px solid var(--primary-outline);
  box-shadow: var(--primary-glow-box-shadow), var(--inner-box-shadow);
  background-color: var(--analog-color);
  position: relative;
  z-index: 2;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.inner_circle .number {
  height: 46%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform-origin: bottom;
  transform: rotate(calc(var(--i) * 30deg)) translateZ(40px);
  translate: -8px 10px;
}
.inner_circle b {
  transform: rotate(calc(var(--i) * -30deg));
  -webkit-transform: rotate(calc(var(--i) * -30deg));
  -moz-transform: rotate(calc(var(--i) * -30deg));
  -ms-transform: rotate(calc(var(--i) * -30deg));
  -o-transform: rotate(calc(var(--i) * -30deg));
  display: inline-block;
  font-size: 1.4rem;
  font-weight: var(--analog-font-weight);
  color: var(--analog-font);
  text-shadow: var(--clock-text-shadow);
}
.inner_circle .middle_circle {
  width: 15px;
  height: 15px;
  outline: 3px solid var(--primary-outline);
  border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  background: var(--primary-bg);
  position: relative;
  z-index: 1;
  transform: translateZ(40px);
}
.inner_circle .hands {
  width: calc(var(--w));
  position: absolute;
  background: var(--analog-font);
  height: calc(var(--h));
  translate: 0 -50%;
  border-radius: 10px;
  z-index: -1;
  transform-origin: bottom;
  box-shadow: var(--hands-box-shadow);
  transition: all 0.01s;
}

#timeZone_wrapper {
  width: 47%;
  height: 100%;
  min-width: 600px;
  min-height: 665px;
  display: flex;
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

#selct_timeZone {
  border-radius: 0 80px 0 80px;
  -webkit-border-radius: 0 80px 0 80px;
  -webkit-border-radius: 0 80px 0 80px;
  -moz-border-radius: 0 80px 0 80px;
  -ms-border-radius: 0 80px 0 80px;
  -o-border-radius: 0 80px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8rem;
  width: 75%;
  height: 83%;
  min-width: 440px;
  max-width: 500px;
  max-height: 620px;
  outline: var(--form-outline);
  padding: 1rem 2rem;
  box-shadow: var(--form-inner-box-shadow);
  background: var(--form-bg);
  transition: all 0.2s;
}
#selct_timeZone .choose_timeZon {
  color: black;
}
#selct_timeZone .timeZone_heading h3 {
  padding: 0.5rem 0rem;
  font-size: 1.3rem;
}

#time_zone {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: var(--primary-bg);
  outline: 2px solid var(--primary-outline);
  border: none;
  color: var(--primary-font);
  font-weight: 500;
  text-align: left;
  border-radius: 4px;
  font-family: var(--primary-font-face);
}

input::-webkit-calendar-picker-indicator {
  display: block;
  visibility: visible;
}

.display_timeZones {
  margin-top: 15px;
  width: 100%;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.display_timeZones > div {
  margin-bottom: 15px;
  width: 100%;
  height: 21%;
}

.timeZoneCard {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  border: 2px solid var(--primary-outline);
  border-width: 0 0 3px 3px;
  border-radius: 0 0 0 40px;
  padding: 1rem 1rem;
  background-color: var(--form-subCard-bg);
  margin-bottom: 16px;
}

.display_UTC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-left: 10px;
}

.zone_UTC h3 {
  font-weight: 500;
  font-size: 1.4rem;
}

.timeZone_UTC {
  font-size: 0.8rem;
  font-weight: 500;
}

.timeZone_time {
  font-size: 2.3rem;
}

.clock_timeZone {
  font-size: 1.2rem;
  font-weight: var(--current-zone-font-Weight);
  text-align: center;
  line-height: 1.3;
  word-break: break-all;
  padding: 0.5rem 0;
}

.nice-select {
  background: var(--secondary-bg);
  color: var(--primary-font);
  font-weight: 500;
  outline: 2px solid var(--primary-outline);
  border: none;
  width: 300px;
  font-size: 1.2rem;
  font-weight: 500;
}

.nice-select .list:hover .option:not(:hover), .nice-select .option {
  background-color: rgb(255, 255, 255) !important;
  outline: 1px solid var(--primary-bg);
  color: black;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: gray !important;
  color: white;
  outline: 1px solid var(--primary-bg);
}

.nice-select.open .nice-select-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

ul.list {
  outline: 0px solid var(--primary-bg);
  width: 320px;
}

.clock_timeZone div {
  flex-direction: column;
}

.clock_display, .clock_timeZone div, .nice-select, .sub_heading, .timeZoneCard, #time_zone {
  display: none;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
  .digital_clock {
    background: var(--digital-bg);
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-bottom: 35px;
    box-shadow: var(--glow-digi-box-shadow);
    z-index: 3;
    transform: translateZ(150px);
  }
  .digi_container {
    font-size: 1.9rem;
  }
  #timeZone_wrapper {
    width: 55%;
    height: 100%;
    min-width: 515px;
    min-height: 665px;
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }
  #selct_timeZone {
    border-radius: 0 80px 0 80px;
    -webkit-border-radius: 0 80px 0 80px;
    -webkit-border-radius: 0 80px 0 80px;
    -moz-border-radius: 0 80px 0 80px;
    -ms-border-radius: 0 80px 0 80px;
    -o-border-radius: 0 80px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.8rem;
    width: 77%;
    height: 75%;
    min-width: 415px;
    max-width: 440px;
    max-height: 580px;
    outline: var(--form-outline);
    padding: 1rem 2rem;
    box-shadow: var(--form-inner-box-shadow);
    background: var(--form-bg);
    transition: all 0.2s;
  }
  .display_timeZones {
    margin-top: 15px;
    width: 100%;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .display_timeZones > div {
    margin-bottom: 15px;
    width: 100%;
    /* overflow: hidden; */
    height: 21%;
  }
  .timeZoneCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    border: 2px solid var(--primary-outline);
    border-width: 0 0 3px 3px;
    border-radius: 0 0 0 40px;
    padding: 0rem 1rem;
    background-color: var(--form-subCard-bg);
    margin-bottom: 16px;
  }
  .timeZone_time {
    font-size: 2.1rem;
  }
  .zone_UTC h3 {
    font-weight: 500;
    font-size: 1.3rem;
  }
  .clock_display {
    outline: 1px solid var(--primary-outline);
    border-radius: 190px 190px 0 0;
    -webkit-border-radius: 190px 190px 0 0;
    -webkit-border-radius: 190px 190px 0 0;
    -moz-border-radius: 190px 190px 0 0;
    -ms-border-radius: 190px 190px 0 0;
    -o-border-radius: 190px 190px 0 0;
    width: 330px;
    height: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    margin: auto;
    box-shadow: var(--clock-box-shadow);
    transform: perspective(1000px);
    transform-style: preserve-3d;
    background: var(--analog-bg);
  }
  .outer_circle {
    width: 330px;
  }
  .inner_circle {
    width: 300px;
  }
  .container {
    margin: auto;
    width: 90%;
  }
  .tilt-enabled {
    /* Disable tilt effect */
    transform: none !important; /* Remove tilt effect */
  }
  body:hover .layer {
    display: block;
  }
  body:hover.lightMode .layer {
    display: none;
  }
  .nice-select {
    height: auto;
  }
  .nice-select span {
    padding: 0.5rem;
  }
  main {
    overflow: auto;
  }
  .clock_display, .clock_timeZone div, .nice-select, .sub_heading, .timeZoneCard, #time_zone {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
  body {
    grid-template-rows: unset;
  }
  #main_section {
    max-height: 100%;
    flex-direction: column;
    margin-top: 17%;
  }
  main {
    grid-area: main;
    background-color: var(--primary-bg);
    background-image: linear-gradient(to right, rgb(0, 229, 255) 1px, transparent 1px), linear-gradient(to bottom, rgb(0, 229, 255) 1px, transparent 1px);
    background-size: 40px 40px;
    position: relative;
    min-height: unset;
    overflow: hidden;
    z-index: 1;
    height: 100%;
  }
  .darkMode {
    position: absolute;
    top: 7%;
    right: 3%;
    width: 11rem;
    height: 46px;
  }
  .main_heading {
    font-size: 1.6em;
    font-weight: 600;
    width: 100%;
    text-shadow: var(--primary-text-shadow);
  }
  header {
    position: static;
    height: 80px;
  }
  .clock_timeZone {
    font-size: 1.5rem;
    font-weight: var(--current-zone-font-Weight);
    text-align: center;
    line-height: 1.3;
    word-break: break-all;
    padding: 0.5rem 0;
  }
  main .layer {
    pointer-events: none;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 115%;
    width: 100%;
    z-index: -1;
  }
  #timeZone_wrapper {
    width: 85%;
    height: 100%;
    min-width: 380px;
    min-height: 560px;
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }
  #selct_timeZone {
    border-radius: 0 80px 0 80px;
    -webkit-border-radius: 0 80px 0 80px;
    -webkit-border-radius: 0 80px 0 80px;
    -moz-border-radius: 0 80px 0 80px;
    -ms-border-radius: 0 80px 0 80px;
    -o-border-radius: 0 80px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;
    height: 100%;
    min-width: 370px;
    max-width: 480px;
    max-height: 580px;
    outline: var(--form-outline);
    padding: 1rem 1.5rem;
    box-shadow: var(--form-inner-box-shadow);
    background: var(--form-bg);
    transition: all 0.2s;
  }
  main {
    grid-area: main;
    background-color: var(--primary-bg);
    background-image: linear-gradient(to right, rgb(0, 229, 255) 1px, transparent 1px), linear-gradient(to bottom, rgb(0, 229, 255) 1px, transparent 1px);
    background-size: 40px 40px;
    position: relative;
    min-height: unset;
    overflow: auto;
  }
  .clock_display, .clock_timeZone div, .nice-select, .sub_heading, .timeZoneCard, #time_zone {
    display: none;
  }
}
@media screen and (max-width: 485px) {
  .clock_display {
    outline: 1px solid var(--primary-outline);
    border-radius: 190px 190px 0 0;
    -webkit-border-radius: 190px 190px 0 0;
    -webkit-border-radius: 190px 190px 0 0;
    -moz-border-radius: 190px 190px 0 0;
    -ms-border-radius: 190px 190px 0 0;
    -o-border-radius: 190px 190px 0 0;
    width: 285px;
    height: 415px;
  }
  #clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 300px;
  }
  .digital_clock {
    background: var(--digital-bg);
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-bottom: 30px;
  }
  #main_section {
    max-height: 100%;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 17%;
  }
  .outer_circle {
    width: 280px;
  }
  .inner_circle {
    width: 255px;
  }
  .clock_timeZone {
    font-size: 1.3rem;
  }
  #timeZone_wrapper {
    width: 95%;
    height: 51%;
    min-width: unset;
    min-height: unset;
    display: flex;
    /* overflow: hidden; */
    max-width: 360px;
    flex-direction: flex;
    align-items: center;
    margin-top: 0px;
    justify-content: center;
    gap: 0px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }
  #selct_timeZone {
    border-radius: 0 80px 0 81px;
    -webkit-border-radius: 0 80px 0 80px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 0 80px 0 80px;
    -ms-border-radius: 0 80px 0 80px;
    -o-border-radius: 0 80px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: unset;
    max-height: 100%;
    outline: var(--form-outline);
    padding: 1rem;
    box-shadow: var(--form-inner-box-shadow);
    background: var(--form-bg);
    transition: all 0.2s;
  }
  .nice-select {
    background: var(--secondary-bg);
    color: var(--primary-font);
    font-weight: 500;
    outline: 2px solid var(--primary-outline);
    border: none;
    width: 270px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .list li {
    width: 250px;
  }
  .display_timeZones {
    margin-top: 15px;
    width: 100%;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .display_timeZones > div {
    margin-bottom: 22px;
    width: 100%;
    /* overflow: hidden; */
    height: 21%;
  }
  .timeZoneCard {
    width: 100%;
    height: 100%;
    max-width: unset;
    display: flex;
    flex-direction: column;
    min-width: 230px;
    align-items: start;
    justify-content: space-evenly;
    gap: 0px;
    border: 2px solid var(--primary-outline);
    border-width: 0 0 3px 3px;
    border-radius: 0 0 0 10px;
    padding: 0rem 1rem;
    background-color: var(--form-subCard-bg);
    margin-bottom: 16px;
  }
  .clock_display, .clock_timeZone div, .nice-select, .sub_heading, .timeZoneCard, #time_zone {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */